@model int

<div class="btn-group" role="group" aria-label="Basic example">
    <button class='btn btn-outline-secondary btn-sm' onclick='personCreateUpdate(@Model);'><i class="fa fa-edit"></i></button>
</div>
