
<div id="factor" class="col-xs-12 col-md-12" ng-show="BookedAppointment">
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>
                <label>@AN.Core.Resources.UI.WebSite.WebsiteResource.Msg_YourTurnBookedSuccessfuly</label>
            </strong>
        </div>
    </div>     
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="fa-stack fa-4x" style="color:#45c2c6;">
                <i class="fa fa-circle fa-stack-2x text-olive"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span>
        </div>        
    </div>
</div>