@model int

<div class="btn-group" role="group" aria-label="Basic example">
    <button class='btn btn-outline-info btn-sm' onclick='expertiseCreateUpdate(@Model);'><i class="fa fa-edit"></i></button>
    <button class='btn btn-outline-danger btn-sm' onclick='deleteExpertise(@Model);'><i class="fa fa-trash"></i></button>
</div>
