@model (int count, int chatId)
<div class="btn-group" role="group" aria-label="Basic example">
    <button class='btn btn-outline-info btn-sm' onclick='getChatMessages(@Model.chatId);'><i class="fas fa-comments"</button>
</div>