@model int

<div class="btn-group" role="group" aria-label="Basic example">
    <button class='btn btn-outline-secondary btn-sm' onclick='createNewInsuranceService(@Model);'><i class="fa fa-edit"></i></button>
    <button class='btn btn-outline-dark btn-sm' onclick='manageInsuranceServiceAttachments(@Model);' title="Attachments"><i class="fa fa-file"></i></button>
    <button class='btn btn-outline-danger btn-sm' onclick='deleteInsuranceService(@Model);'><i class="fa fa-trash"></i></button>
</div>
