@model int

<div class="btn-group" role="group" aria-label="Basic example">
    <button class='btn btn-outline-secondary btn-sm' onclick='createNewInsurance(@Model);'><i class="fa fa-edit"></i></button>
    <button class='btn btn-outline-danger btn-sm' onclick='deleteInsurance(@Model);'><i class="fa fa-trash"></i></button>
</div>
