<div class="modal fade" id="OtpLoginModal" tabindex="-1" role="dialog" aria-labelledby="Otp Login modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@AN.Web.LocalResource.Resource.SignIn</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div id="OtpLoginModalBody" class="modal-body">

            </div>
        </div>
    </div>
</div>

