@model int

<div class="btn-group" role="group" aria-label="Basic example">
    <button class='btn btn-outline-success btn-sm' onclick='approveRequest(@Model);'><i class="fa fa-check-circle"></i></button>
    <button class='btn btn-outline-danger btn-sm' onclick='deleteRegistrationRequest(@Model);'><i class="fa fa-trash"></i></button>
</div>
