@font-face {
    font-family: 'Kurdish';
    src: url(../../../fonts/kurdish/KurdishFont.eot);
    src: url(../../../fonts/kurdish/KurdishFont.eot?#iefix) format("embedded-opentype"), url(../../../fonts/kurdish/KurdishFont.woff) format("woff"), url(../../../fonts/kurdish/KurdishFont.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EmpireKurdish';
    src: url(../../../fonts/empire-kurdish/EmpireKurdish.eot);
    src: url(../../../fonts/empire-kurdish/EmpireKurdish.eot?#iefix) format("embedded-opentype"), url(../../../fonts/empire-kurdish/EmpireKurdish.woff) format("woff"), url(../../../fonts/empire-kurdish/trueType/EmpireKurdish.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'EmpireKurdish', 'Roboto', sans-serif, Tahoma !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'EmpireKurdish', 'Roboto', sans-serif, Tahoma !important;
    font-weight: Cored !important;
}

.footer-above .footer-col-body p {
    font-family: 'EmpireKurdish', 'Roboto', sans-serif, Tahoma !important;
}

.icon::before {
    font-family: 'EmpireKurdish', 'Roboto', sans-serif, Tahoma !important;
}

.ui-widget {
    font-family: 'EmpireKurdish', 'Roboto', sans-serif, Tahoma !important;
}
