@model AN.Core.ViewModels.OfferListViewModel

<div class="btn-group" role="group" aria-label="Basic example">
    <a class='btn btn-default btn-sm' onclick='offerCreateUpdate(@Model.Id);'><i class="fa fa-edit"></i></a>
</div>

