@model int

<div class="btn-group" role="group" aria-label="Basic example">
    <button class='btn btn-outline-danger btn-sm' onclick='deleteNotification(@Model);'><i class="fa fa-trash"></i></button>
</div>

