@model AN.Core.ViewModels.MedicalRequestListViewModel

@{
    Layout = null;
}

<h6><i class="fa fa-phone text-success"></i><span class="badge badge-success badge-pill ml-2 mr-2">@Model.PersonPhone</span></h6> 