@model AN.Core.ViewModels.MedicalRequestListViewModel

@{ 
    Layout = null;
}

<div class="btn-group" role="group" aria-label="Basic example">   
    <button class='btn btn-outline-primary btn-xs' onclick='viewMedicalRequestDetails(@Model.Id);'>View</button>
</div>