@model AN.Core.ViewModels.MedicalRequestDetailsViewModel

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-control bg-gray-light">
                <span class="float-left">Name:</span>
                <span class="float-right"><b>@Model.PersonName</b></span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-control bg-gray-light">
                <span class="float-left">Mobile:</span>
                <span class="float-right"><b>@Model.PersonPhone</b></span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-control bg-gray-light">
                <span class="float-left">Date:</span>
                <span class="float-right"><b>@Model.RequestDate</b></span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="form-control bg-gray-light" style="min-height: 150px;">
                <b>@Model.Note</b>
            </div>
        </div>
    </div>
    @if (Model.Attachments.Any())
    {
        foreach (var a in Model.Attachments)
        {
            <div class="col-md-2 p-0 m-2">
                <div class="form-group p-0">
                    <div class="form-control bg-gray-light p-0" style="min-height: 120px;">
                        <img src="/@a" height="100%" width="100%" />
                    </div>
                </div>                
            </div>
        }
    }
</div>