
root {
    display: block;
}

#main {
    display: table;
    vertical-align: middle;
}

    #main .wrapper {
        height: 300px;
        display: table-cell;
        vertical-align: middle;
    }



/*----------- My Styles --------------------------*/
.beLtr {
    direction: ltr;
}

.patient-form-control {
    margin: 10px 0 10px 0;
}

.myCard {
    background: #FFF;
    box-shadow: 0px 7px 10px #B6B6B6;
    color: black;
    font-size: 13px;
    text-align: right;
    padding: 10px;
    margin: 0 0 10px 0;
}

#appointment-details-card {
    min-width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

#patient-details-card {
    min-height: 70px;
    margin-bottom: 5px;
    padding: 10px 20px 10px 10px;
}

#doctor-details-card {
    min-height: 70px;
    margin-bottom: 5px;
    padding: 10px 20px 10px 10px;
}


#book-form {
    width: auto;
    text-align: center;
}

#final-book-appointment-submit {
    width: 42%;
}




/* BOOK APPOINTMENT WIZARD
 ------------------------------------------------------------------------------ */
#book-appointment-wizard {
    min-height: 350px; /*before: 400px*/
    padding: 0;
    margin-top: 5px;
}

    #book-appointment-wizard #header {
        padding: 5px 5px 55px 5px;
        height: 60px;
    }

    #book-appointment-wizard #company-name {
        font-weight: Cored;
        color: #FFF;
        font-size: 18px;
        margin: 5px 10px 0 15px;
        display: inline-block;
        text-shadow: 0px 1px 1px #8F8888;
        float: right;
    }

    #book-appointment-wizard #steps {
        width: 180px;
        display: inline-block;
    }

    #book-appointment-wizard .wizard-frame {
        padding: 10px 10px;
        height: 500px;
    }

        #book-appointment-wizard .wizard-frame .frame-container {
            height: 350px;
            margin-bottom: 5px;
        }

    #book-appointment-wizard .frame-container .frame-title {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        color: white;
    }

    #book-appointment-wizard .frame-container .frame-content {
        margin: auto;
        float: none;
        color: white;
        text-align: right;
        font-size: 13px;
    }

    #book-appointment-wizard .wizard-frame .command-buttons {
        float: none;
        text-align: center;
    }

        #book-appointment-wizard .wizard-frame .command-buttons .btn {
            min-width: 120px;
            margin-right: 10px;
        }

        #book-appointment-wizard .wizard-frame .command-buttons #button-next-1,
        #book-appointment-wizard .wizard-frame .command-buttons #button-back-4 {
            min-width: 40%;
            margin-right: 0px;
        }

        #book-appointment-wizard .wizard-frame .command-buttons #button-back-4 {
           margin-left:66px;
           margin-right:100px;
        }

    #book-appointment-wizard .book-step {
        display: inline-block;
        height: 30px;
        width: 30px;
        float: left;
        background: #285e81;
        padding-top: 3px;
        margin-right: 10px;
        margin-top: 9px;
        border: 2px solid skyblue;
        border-radius: 25px;
    }

        #book-appointment-wizard .book-step strong {
            font-size: 12px;
            display: block;
            text-align: center;
            color: #a7004c;
        }

    #book-appointment-wizard .active-step {
        display: inline-block;
        height: 45px;
        width: 45px;
        float: left;
        padding-top: 6px;
        text-align: center;
        margin-right: 10px;
        margin-top: 3px;
        border: 2px solid deepskyblue;
        background: #0088cc;
        color: black;
    }

        #book-appointment-wizard .active-step strong {
            color: #FFF;
            font-size: 18px;
        }


    #book-appointment-wizard #steps .custom-qtip {
        border-width: 2px;
    }

    #book-appointment-wizard #available-hours .available-hour {
        font-size: 15px;
        padding: 1px;
        display: inline-block;
    }

        #book-appointment-wizard #available-hours .available-hour:hover {
            font-weight: Cored;
            background-color: #CAEDF3;
            cursor: pointer;
        }

    #book-appointment-wizard #available-hours .selected-hour {
        color: #0088cc;
        font-weight: Cored;
        text-decoration: underline;
    }

    #book-appointment-wizard .span3 {
        min-width: 270px; /* This is especially needed for ie8 */
    }

    #book-appointment-wizard #appointment-details p,
    #book-appointment-wizard #customer-details p {
        font-size: 16px;
        line-height: 28px;
    }

    #book-appointment-wizard #wizard-frame-1 label {
        font-size: 15px;
    }


    #book-appointment-wizard .captcha-title {
        float: left;
        margin-right: 20px;
        margin-top: 7px;
    }

        #book-appointment-wizard .captcha-title .glyphicon-refresh {
            cursor: pointer;
            transition: all 0.3s linear;
        }

            #book-appointment-wizard .captcha-title .glyphicon-refresh:hover {
                color: #1A865F;
            }

    #book-appointment-wizard .captcha-image {
        float: right;
        margin-bottom: 20px;
        border-radius: 3px;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    }

    #book-appointment-wizard .captcha-text {
        width: 100%;
        margin-bottom: 20px;
    }


/* BOOK SUCCESS & MESSAGE
   ------------------------------------------------------------------------- */
#message-frame,
#success-frame {
    background: #FFF;
    border: 1px solid #DDDADA;
    padding: 70px;
}

    #message-frame #message-icon,
    #success-frame #success-icon {
        margin-top: 20px;
    }

    #message-frame .alert,
    #success-frame .alert {
        margin-top: 20px;
    }


/* CANCEL APPOINTMENT
   ------------------------------------------------------------------------- */
#cancel-appointment-frame {
    padding: 15px 0;
    margin: 0;
    background: #FAFAFA;
    border-bottom: 1px solid #E2E2E2;
}

    #cancel-appointment-frame p {
        margin-top: 8px;
        margin-bottom: 0;
    }


#frame1-content {
    margin-right: 100px;
}

/* MOBILE DEVICES
   ------------------------------------------------------------------------- */
@media(max-width:768px) {
    /**
     * BOOKING WIZARD
     */
    html,
    body {
        min-height: 100%;
    }

    #main {
        min-height: 100%;
        padding: 0 5vw;
    }

        #main .wrapper {
            width: 100vw;
        }

    #book-appointment-wizard #header {
        overflow: auto;
        height: auto;
    }

    #book-appointment-wizard #company-name {
        float: none;
        display: block;
        text-align: center;
    }

    #book-appointment-wizard #steps {
        float: none;
        display: block;
        overflow: auto;
        margin: 20px auto;
    }

    #book-appointment-wizard .wizard-frame {
        padding: 0 10px;
        height: auto;
    }

        #book-appointment-wizard .wizard-frame .frame-container {
            height: auto;
        }

        #book-appointment-wizard .wizard-frame .command-buttons {
            float: none;
            width: 100%;
            margin: 20px auto;
            display: flex;            
        }

            #book-appointment-wizard .wizard-frame .command-buttons .btn {
                width: 45%;
            }

            #book-appointment-wizard .wizard-frame .command-buttons #button-next-2,
            #book-appointment-wizard .wizard-frame .command-buttons #button-next-3 {
                float: left;
            }

            #book-appointment-wizard .wizard-frame .command-buttons #button-next-1 {
                width: 100%;
                max-width: 300px;
                margin: auto;
                display: block;
            }

            #book-appointment-wizard .wizard-frame .command-buttons #button-back-4 {
                width: 100%;
                max-width: 300px;
                margin: auto;
                display: block;
            }

        #book-appointment-wizard .wizard-frame #select-date {
            width: 260px;
            margin: auto; /* center */
        }

    #book-appointment-wizard #available-hours {
        overflow: auto;
        margin: 20px auto;
        width: 260px;
        padding-left: 20px; /* center at the bottom of datepicker */
    }

        #book-appointment-wizard #available-hours div {
            margin-right: 30px;
        }

        #book-appointment-wizard #available-hours .available-hour {
            padding: 8px 3px;
        }

    #book-appointment-wizard #form-message {
        display: block;
        text-align: center;
    }

    #book-appointment-wizard #book-appointment-form {
        width: 45%;
        float: right;
    }

        #book-appointment-wizard #book-appointment-form #book-appointment-submit {
            width: 100%;
        }

    .popover .popover-title {
        text-align: center;
    }

    .popover .popover-content #language-list .language {
        margin: 10px 0;
    }

    /**
     * BOOK SUCCESS
     */
    #message-frame,
    #success-frame {
        text-align: center;
        height: auto;
        border: none;
        padding: 35px;
    }

        #message-frame #message-icon,
        #success-frame #success-icon {
            width: 64px;
            display: block;
            margin: auto;
            float: none !important;
        }

        #success-frame .btn {
            margin-bottom: 10px;
            width: 80%;
            max-width: 250px;
        }

    /**
     * CANCEL APPOINTMENT
     */
    #cancel-appointment-frame {
        text-align: center;
    }

    .ui-dialog .ui-dialog-title {
        font-size: 1.2em;
    }

    #Captcha {
        margin-top: 5px;
        direction: ltr;
        text-align: center;
        padding-left: 20px;
    }

    #final-book-appointment-submit {
        width: 45%;
    }

    #frame1-content {
        margin-right: 50px;
    }
}

@media(max-width:480px) {
    body {
        background-color: #FAFAFA;
    }

    #main {
        padding: 0;
    }

        #main .wrapper {
            width: 100vw;
            margin: 0;
            display: block;
        }

    #book-appointment-wizard {
        box-shadow: none;
    }

        #book-appointment-wizard .captcha-title {
            margin: 7px 0 10px 0;
        }

        #book-appointment-wizard .captcha-image {
            float: left;
        }

    #message-frame,
    #success-frame {
        height: 100%;
    }

    #final-book-appointment-submit {
        width: 88%;
    }
}

@media(max-width:338px) {

    #book-appointment-wizard .wizard-frame .command-buttons {
        float: none;
        width: 100%;
        margin-top: 10px;
        padding: 0;
        display: flex;
    }

        #book-appointment-wizard .wizard-frame .command-buttons .btn {
            width: 45%;
        }

        #book-appointment-wizard .wizard-frame .command-buttons #button-next-2,
        #book-appointment-wizard .wizard-frame .command-buttons #button-next-3 {
            float: left;
        }

        #book-appointment-wizard .wizard-frame .command-buttons #button-back-2,
        #book-appointment-wizard .wizard-frame .command-buttons #button-back-3 {
            float: right;
        }


        #book-appointment-wizard .wizard-frame .command-buttons #button-next-1 {
            width: 100%;
            max-width: 300px;
            margin: auto;
            display: block;
        }

        #book-appointment-wizard .wizard-frame .command-buttons #button-back-4 {
            width: 100%;
            max-width: 300px;
            margin: auto;
            display: block;
        }

    #final-book-appointment-submit {
        width: 100%;
    }

    #frame1-content {
        margin-right: 30px;
    }
}

@media(max-width:310px) {
    #book-appointment-wizard .wizard-frame .command-buttons {
        float: none;
        width: 100%;
        text-align: center;
    }

        #book-appointment-wizard .wizard-frame .command-buttons .btn {
            width: 100%;
        }

        #book-appointment-wizard .wizard-frame .command-buttons #button-next-1 {
            width: 100%;
            max-width: 300px;
            margin: auto;
            display: block;
        }

        #book-appointment-wizard .wizard-frame .command-buttons #button-back-4 {
            width: 100%;
            max-width: 300px;
            margin: auto;
            display: block;
        }

    #Captcha {
        padding-left: 0px;
    }

    #final-book-appointment-submit {
        width: 100%;
    }
}
